@import "variables";

.pagination {
  margin-bottom: 2em;

  ul {
    .page-item {
      .page-link {
        font-size: 18px;
        border: none;
        color: $base-grey-pagination;
        font-family: $primary-font-family;
        font-style: normal;
        i {
          color: $base-black-primary;
        }
      }
    }

    .disabled {
      cursor: not-allowed;
      .page-link {
        border: none;
        color: $base-black-primary;
        font-family: $primary-font-family;
        font-style: normal;
        font-weight: $text-bold;
      }
      i {
        color: $base-black-primary;
      }
    }
  }
}
