$base-white: #ffff;

$base-black-primary: #000000;
$base-black-secondary: #1d1d1d;

$base-grey-dark: #656565;
$base-grey-light: #9b9b9b;
$base-grey-border: #e4e4e4;
$base-grey-cart-list: #c2c2c2;
$base-grey-pagination: #b4b4b4;

$primary-font-family: "Archivo", sans-serif;
$secondary-font-family: "Archivo", sans-serif;

$text-bold: 700;
$text-medium: 600;
$text-normal: 500;
$text-light: 400;

$max-small-screen: 983px;
