@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$base-white: #ffffff;
$base-grey: #e5e5e5;
$base-grey-light: #a9a9a9;
$base-grey-deep: #9796a8;
$base-purple: #585292;
$base-maroon: #e07c7c;
$base-bar-colour: #3b3b3b;
$base-card-colour: #f5f5f5;
$base-options-colour: #9796a8;

$base-typo-white: #ffffff;
$base-typo-black: #2e2e2e;
$base-typo-grey: #bcbcbc;
$base-typo-red: #e07c7c;
$base-typo-pink: #ebb9b8;

$base-typo-font: "Roboto", sans-serif;

$small-width: 800px;
